<%= form_for [topic] do |field| %>
  <% if topic.errors.any? %>
    <div class='alert alert-danger'>
      <h4><%= pluralize(topic.errors.count, "error") %>. </h4>
        <ul>
          <% topic.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_group_tag(topic.errors[:name]) do %>
        <%= field.label :name %>
        <%= field.text_field :name, class: 'form-control', placeholder: "Enter topic name" %>
      <% end %>
      <%= form_group_tag(topic.errors[:description]) do %>
        <%= field.label :description %>
        <%= field.text_area :description, rows: 8, class: 'form-control', placeholder: "Enter topic description" %>
      <% end %>
      <div class="form-group">
        <%= field.label :public, class: 'checkbox' do %>
        <%= field.check_box :public %> Public topic
        <% end %>
      </div>
      <%= field.submit "Save", class: 'btn btn-success' %>
    <% end %>
