<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <!-- We call avatar_url to fetch the current user's avtar -->
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <!-- 'image_tag' is a Rails method to create an img -->
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <% if user_has_posts_or_comments?(@user) %>
          <h2 class="media-heading"><%= @user.name %></h2>
          <small>
            <%= pluralize(@user.posts.count, 'post') %>,
            <%= pluralize(@user.comments.count, 'comment') %>
          </small>
          <% else %>
          <%= "#{@user.name} has not submitted any posts yet" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- We display an user's posts and comments -->
<% if user_has_posts_or_comments?(@user) %>
  <h2>Posts</h2>
  <%= render @user.posts %>

  <h2>Comments</h2>
  <%= render @user.comments %>
<% end %>

<!-- This section shows a list of the posts that the user has favorited -->
<% if @user.favorites.count > 0 %>
  <h2>Posts favorited by user:</h2>
  <%= render partial: 'favorites/favorited_posts', locals: {user: @user} %>
<% end %>
