<!-- The underscore at the beginning of the filename lets Rails know this is a 'partials file' -->
<!-- This form uses local variables (topic and post) instead of instance variables (@topic and @post) because 'local' passes local variables -->
<%= form_for [topic, post] do |f| %>
  <!-- NL: If there are any errors, we'll display an alert and each error -->
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <!-- 'pluralize' transforms the term 'error' to 'errors' if post.error.count>= 1, preceded by the count -->
      <h4><%= pluralize(post.errors.count, "error") %>. </h4>
        <ul>
          <% post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_group_tag(post.errors[:title]) do %>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter post title" %>
      <% end %>
      <%= form_group_tag(post.errors[:body]) do %>
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>
      <% end %>
   <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
 <% end %>
